<h1>About</h1>
<p class="btn">As my Web Development learning journey is still going on, this is my first project using EJS, NODE.JS, EXPRESS AND MONGODB, Where one can create, delete, and update any blog. Also, we have the option of login and logout.</p>